# Configurações do Django
DJANGO_SECRET_KEY=sua-chave-secreta-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seuusuario.pythonanywhere.com

# Banco de Dados MySQL (PythonAnywhere)
DB_NAME=emetalurgicaservico_db
DB_USER=seuusuario
DB_PASSWORD=suasenha
DB_HOST=seuusuario.mysql.pythonanywhere.com
DB_PORT=3306
